 
* {
    font-family: 'JetBrains Mono', monospace;
    box-sizing: border-box;
    
}

header {
    margin: 0px;
    background-color: rgb(5, 168, 170);
    padding: 5px;
    text-align: center;
    width: 100%;
    font-size: 14px;
    color: black;
    padding-left: 30px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.5);

}

body,
html {
    font-size: 14px;
    width: 100%;
    height: 100%;
    
    min-width: 1860px;
    min-height: 800px;
}   




.mainBody{
    margin-left: 50px;
    margin-right: 50px;
}

#nodePrintSpace{
    width: 60px;
}
#edgesPrintSpace{
    width: 60px;
}
#layoutTimePrintSpace{
    width: 70px;
}
#totalTimePrintSpace{
    width: 70px;
}

td{
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
}
.col{
    float: left;
    padding: 10px;
    height: 800px;
}
.right{
    width: 20%;
    height: auto;
    text-align: center;
}

.middle{
    width: 80%;
}
.row:after{
    content: "";
    display: table;
    clear: both;
} 

.down{
    margin: 0;
    background-color: blueviolet;
}

.valoriMod{
    width: 30px;
    text-align: center;
}

.menuModValue{
    margin: 0px;
    align-items: center;
    margin-top: 5px;

}
.sliderBarr{
    width: 100%;
}
.spaceBetweenPref{
    width: 40px;
}
.emptyRow{
    height: 30px;
}
.specTab{
    width: auto;
}


.resTab{
    text-align: right;

}
#tableSpec{
    position: relative;
}

.mainDesc{
    width: auto;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label , a{
    display: block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-decoration: none;
    color: #333; 
    text-align: center;
    position: relative;
    }

.inputfile+label span, a{
    position: relative;
    z-index: 2;
    text-decoration: underline;
}

.inputfile+label:after ,a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%; 
}

.inputfile+label:hover , a:hover{
    cursor: pointer;
    color: rgb(39, 37, 134);
}

.inputfile+label:hover:after {
    width: 100%;
}

#labelInsert{
    text-align: left;
}

#greadButton{
    text-align: left;

}


.modParameterBar{
    text-align: right;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: black;
    color: #fff;
    text-align: center;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: 30px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.6;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

#magnifying{
    min-width: 306px;
    min-height: 306px;
    width: 306px;
    height: 306px;
    position: relative;
    border-style: solid;
    border-color: #333;
} 

#labelButton{
    padding: 5px;
    margin: 10px;
    align-items: center;
}

h4{
    margin-top: .4em;
    color:#2e2e2e;
}
h1{
    margin-bottom: 0;
}

.buttons{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.specGraphTable{
    align-items: center;
}